<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css.map">
    <link rel="stylesheet" href="../../resources/css/private.css">
    <link rel="shortcut icon" href="../../resources/img/logos/logo.png" type="image/x-icon">
    <title>Electrodomesticos SV</title>
</head>

<body class="view">
    <div class="nav-render"></div>
    <div class="container">

    </div>
</body>

<script src="../../resources/js/bootstrap.bundle.min.js"></script>
<script src="../../resources/js/sweetalert.min.js"></script>
<script type="module" src="../../controllers/public/render.js"></script>
<script type="module" src="../../controllers/private/login.js"></script>

</html>