<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css.map">
    <link rel="stylesheet" href="../../resources/css/bootstrap.css.map">
    <link rel="stylesheet" href="../../resources/css/private.css">
    <link rel="shortcut icon" href="../../resources/img/logos/logo.png" type="image/x-icon">
    <title>Electrodomesticos SV</title>
</head>

<body>
    <div class="nav-render"></div>
    <div class="container">
        <div class="graphics">
            <canvas id="comentarios-producto"></canvas>
            <canvas id="mas-vendidos"></canvas>
            <canvas id="producto-categoria"></canvas>
            <canvas id="ventas"></canvas>
            <canvas id="producto-marca"></canvas>
        </div>
    </div>
    <script src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/private/render.js"></script>
    <script type="module" src="../../controllers/private/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="module" src="../../controllers/private/graficas.js"></script>
</body>

</html>