/* body{background-color: rgb(47, 47, 47); } */
/* uso general */
.hide{
    display: none;
}
/* estilos en login */
.view{overflow: hidden;}
.login{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.form{
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5%;
    justify-content: center;
}
.buttons{
    display: flex;
    gap: 3%;
    flex-direction: column;
}
.btn-login{
    margin: 4% 0;
}

/* estilos navbar */
.nav-logo{
    width: 5%;
}
.nav-title{
    font-weight: bold;
    font-size: 700;
}
/* estilos en general */
.container-catalog{
    margin-top: 1.5%;
}
.top{
    display: flex;
    justify-content: space-between;
}
/* estilos para agregar producto */
.switch{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.form-check-input:checked{
    background-color: #6c757d;
    border-color: #6c757d;
}
.form-check-input:focus{
    border-color: #6c757d;
    box-shadow: #5f676e;
}
/* estilos en tabla productos, col botones, form */
.buttons-tb{
    flex-direction: row;
    display: flex;
    gap: .5%;
}
#comentario{
    height: 20%;
}

/*esta clase agrega '...'
si es mucho text en la col*/
.col-grap{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 12vw;
}
.fecha{
    max-width: 5vw;
}